a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

p {
  font-family: Raleway;
  margin: 0;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  margin: 0;
  border-right: solid 1px black;
  border-left: none;
}

h3 {
  font-family: 'Anybody', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}